
// contact page styles
.contactPage {
    // contact page header styles

    .creativeHeader {
        height: $bg-height-3;
    }
    header {
        background: none 50% no-repeat;
        height: $bg-height-3;
        background-size: contain;
    }
 

    .contactImageHeader {
        position: relative;
    }


    .topNav {
        // background-color: #ffffff;
        padding: 20px;
        position: absolute;
        width: 100%;
        top: 0;
    }


     .contactImageStrip  {
        background: $background-image-3 50% no-repeat;
        background-size: contain;
        height: $bg-height-3;
        display: block;
    }

    .cartCount {
        right: 9%;
        top: 54.5%;
    }

    .heroContact {
        position: relative;
    }

    .contentBorderLine {
        border-top: 3px solid #333333;
        width: 2%;
        position: absolute;
        bottom: 150px;
        left: 20%;
    }
    
    .contactHeaderBorder h1 {
        font-size: 4rem;
        text-align: left;
        padding: 10px 20%;
        line-height: 1;
        position: absolute;
        bottom: 30px;
        width: 24%;

    }
// consider using the same process as we did in the footer


    .contactContainer {
        flex-direction: column;
    }

    .contactDetails {
        margin-left: 10%;
        padding-bottom: 60px;
    }

    .contactDetails p, 
    .formSection p {
        color: #8a8a8a;
    }

    .contactDetails h3,
    .formSection h3 {
        font-weight: 700;
        font-size: 1.25rem;
        padding: 20px 0;

    }

    .contactOptions {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        margin: 0 auto;
    }



    .formSection {
        margin-left: 10%;
        width: 80%;
    }

    .formSection p {
        padding-bottom: 40px;
    }

    .contactIcons {
        font-size: 35px;
    }

    .contactIcons > i + p {
        text-transform: uppercase;
        font-weight: 700;
    }

    .contactPhone,
    .contactAddress {
        border-right: 1px solid #e6e6e6;
        padding-right: 60px;
        padding-bottom: 60px;
        // padding-top: 30px;
    }

    .formTop{
        display: flex;
        justify-content: space-between;
    }
   
    input[type=text],
    textarea {
        border: 0;
        border-bottom:1px solid #333333;
        padding-bottom:10px;
        padding-right:170px;
    }
    .formEmail input[type=email] {
        border: transparent;
        border-bottom:1px solid #333333;
        padding-bottom:10px;
        padding-right:170px;
    }

    textarea {
        resize: none;
        font-family: 'Open Sans', sans-serif;
         font-size: 1.25rem;
         padding: 30px 0;
         width: 100%;
    }
    
    button {
        border: none;
        background: transparent;
        border-bottom: 1px solid #333333;
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        margin: 20px 0;
        width: 13%;
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
}
