
/* footer styles */

footer {
    background-color: #303030;
    color: white;
}

.footerContainer {
    display: flex;
    padding: 110px 0;
    justify-content: flex-end;
    flex-direction: inherit;
}

.contactUs, 
.blogPostsHeader,
.subscribeHeader {
    font-size: 2rem;
    text-transform: uppercase;
}

.contactUs,
.blogPosts,
.subscribe {
    justify-content: space-evenly;

}

.blogPosts li {
    list-style-type: disc;

}

.logoBottom {
    text-transform: uppercase;
    font-size: 1.15rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 56px;
    border-top: 1px solid lightgrey;
    width: 100%;
    letter-spacing: 7px;
}

.socialIcons {
    display: inline-block;
    justify-content: center;

}



.contactInfo .fab {
    color: #ffffff;
    padding: 5px;
}

.footerContainer > div {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: space-evenly;
}

.footerContainer > div > p {
    width: 100%;
}

.FooterForm {
    display: flex;
    align-items: center;
}

footer {
    input[type=email] {
        border: transparent;
        text-decoration: none;
        padding: 5px 10px;
        font-family: inherit;
        font-weight: 400;
        font-size: 1.1rem;
        width: 75%;
    }
}



.fa-long-arrow-alt-right {
    background-color: #C3DAB7;
    font-size: 1rem;
    height: 30%;
    color:
    #303030;
    width: 15%;
    // display: inline-block;
    text-align: center;
    padding-top: 7px;
    // margin-bottom: 12px;
}

/* footer list style type - circle on the li's */