// homepage media queries - 1230px
@media (max-width: 1256px) {
    .indexPage{
    // services section
        .circleLogo img {
            width: 70%;
        }
    }
}


@media (max-width: 1230px) {
.indexPage {
        // header section
        .cartCount {
            right: 11.5%;
            top: 4.5%;
        }

        // services section
        .circleLogo img {
            width: 70%;
        }

        .circleLogo {
            position: absolute;
            bottom: -30%;    
            right: 60%;
        }
    }
}






// blog page media queries - 1230px
@media (max-width: 1230px) {
    .blogPage {
        .relatedImagesGallery {
            flex-direction: inherit;
        }

        .relatedImagesGallery img {
            max-width: 80%;
        }

        .dialogbox .commentBody {
            position: relative;
            width: 980px;
            height: 100px;
            margin: 0px 25px;
        }

        .commentBody .message {
            min-height: 30px;
            border-radius: 3px;
            font-family: 'Open Sans', sans-serif;            
            font-size: 1.2rem;
            line-height: 1.5;
            color: rgba(25, 26, 32, 0.699);
        }
        
        button {
            width: 12%;
            margin: 30px 0;
        }

    }
}







// contact page media queries - 1230px 

@media (max-width: 1230px) {
    .contactPage {

        .cartCount {
            right: 8.5%;
            top: 53.5%;
        }


        button {
            width: 15%;
            margin: 30px 0;
        }

    }
}



// homepage media queries - 1068px

@media (max-width: 1068px) {
.indexPage {
        // header section
        .cartCount {
            right: 10.5%;
            top: 4.5%;
        }

        // services section

        .servicesOne, 
        .servicesTwo {
            width: calc(40% - 20px);
        } 
    }
}






// blog page media queries - 1068px
@media (max-width: 1068px) {
    .blogPage {

        .cartCount {
            right: 10.5%;
            top: 4.5%;
        }
        .relatedImagesGallery {
            flex-direction: inherit;
        }

        .relatedImagesGallery img {
            max-width: 90%;
        }

        .dialogbox .commentBody {
            width: 830px;
        }

        .commentBody .message {
            min-height: 30px;
            border-radius: 3px;
            font-family: 'Open Sans', sans-serif;            
            font-size: 1.2rem;
            line-height: 1.5;
            color: rgba(25, 26, 32, 0.699);
        }
        
        button {
            width: 13%;
            margin: 30px 0;
        }

    }
}







// contact page media queries - 1068px 

@media (max-width: 1068px) {
    .contactPage {

        .cartCount {
            right: 7.75%;
            top: 50.5%;
        }


        button {
            width: 15%;
            margin: 30px 0;
        }

        .formTop {
            display: flex;
            flex-direction: column;
        }

    }
}



// homepage media queries - 930px

@media (max-width: 930px) {
.indexPage {
        // header section
        .cartCount {
            right: 10%;
            top: 4.5%;
        }

        // services section

        .servicesOne, 
        .servicesTwo {
            width: calc(40% - 10px);
        }
        
        .blogPreview {
            padding: 50px 45px;
        }

        .teamContent {
            padding: 30px 0 0 40px;
        }

        .portfolioContent {
            padding: 0 100px;
        }
    }
}






// blog page media queries - 930px
@media (max-width: 930px) {
    .blogPage {

        .cartCount {
            right: 10%;
            top: 5%;
        }

        .blogInfoOne h1 {
            font-size: 4rem;
        }

        .relatedImagesGallery {
            flex-direction: inherit;
        }

        .relatedImagesGallery img {
            max-width: 90%;
        }

        .dialogbox .commentBody {
            width: 730px;
        }

        
        .formTop {
            display: flex;
            flex-direction: column;
        }
        
        button {
            width: 15%;
            margin: 30px 0;
        }

    }
}







// contact page media queries - 930px 

@media (max-width: 930px) {
    .contactPage {

        .contactHeaderBorder h1 {
        font-size: 3rem;
        position: absolute;
        bottom: 45px;
        }
        .cartCount {
            right: 7.75%;
            top: 50.5%;
        }


        button {
            width: 15%;
            margin: 30px 0;
        }

        .formTop {
            display: flex;
            flex-direction: column;
        }
    }
}


// homepage media queries - 856px

@media (max-width: 856px) {
.indexPage {
        // header section
        .cartCount {
            right: 9.5%;
            top: 4.75%;
        }

        // services section

        .servicesOne, 
        .servicesTwo {
            width: calc(40% - 10px);
        }
        
        .blogPreview {
            padding: 50px 45px;
        }

        .teamContent {
            padding: 30px 0 0 40px;
        }

        .portfolioContent {
            padding: 0 100px;
        }

        
        .servicesOffered {
            background-position: right;
        }

        .servicesList {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        
    }
}






// blog page media queries - 856px
@media (max-width: 856px) {
    .blogPage {

        .cartCount {
            right: 9.5%;
            top: 5%;
        }

        .blogInfoOne h1 {
            font-size: 4rem;
        }

        .relatedImagesGallery {
            flex-direction: inherit;
        }

        .relatedImagesGallery img {
            max-width: 95%;
        }

        .dialogbox .commentBody {
            width: 630px;
        }

        
        .formTop {
            display: flex;
            flex-direction: column;
        }
        
        button {
            width: 17%;
            margin: 30px 0;
        }

    }
}





// contact page media queries - 856px 

@media (max-width: 856px) {
    .contactPage {

        .contactHeaderBorder h1 {
        font-size: 3rem;
        position: absolute;
        bottom: 45px;
        }
        .cartCount {
            right: 7%;
            top: 50.5%;
        }


        button {
            width: 15%;
            margin: 30px 0;
        }

        .formTop {
            display: flex;
            flex-direction: column;
        }
    }


    // homepage media queries - 780px

@media (max-width: 780px) {
.indexPage {
        // header section
        .cartCount {
            right: 9.5%;
            top: 4.75%;
        }

        .circleLogoImage img {
            width: 90%;
        }

        .circleLogo {
            position: absolute;
            bottom: -30%;
            right: 68%;
        }
        // services section

        .servicesOne, 
        .servicesTwo {
            width: calc(49% - 10px);        
        }
        
        .blogPreview {
            padding: 50px 45px;
        }

        .teamContent {
            padding: 10px 0 0 25px;       
        }

        .portfolioContent {
            padding: 0px 70px;
        }

        .portfolioContent a {
            padding: 5px;
            font-size: 0.9rem;
        }
        
        .servicesOffered {
            background-position: right;
        }

        .servicesList {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        
    }
}






// blog page media queries - 780px
@media (max-width: 780px) {
    .blogPage {

        .cartCount {
            right: 9.5%;
            top: 5%;
        }

        .blogInfoOne h1 {
            font-size: 3rem;
        }

        .relatedImagesGallery {
            flex-direction: inherit;
        }

        .relatedImagesGallery img {
            max-width: 95%;
        }

        .dialogbox .commentBody {
            width: 580px;
        }

        
        .formTop {
            display: flex;
            flex-direction: column;
        }
        
        button {
            width: 18%;
            margin: 30px 0;
        }

    }
}





// contact page media queries - 780px 

@media (max-width: 780px) {
    .contactPage {

        .contactHeaderBorder h1 {
        font-size: 2.5rem;
        position: absolute;
        bottom: 65px;
        }
        .cartCount {
            right: 7%;
            top: 50.5%;
        }

        .contactOptions {
            width: 80%;
        }

        .contactIcons {
            padding: 0px 25px;
            margin: 0px 16px;
        }

        .contactPhone, 
        .contactAddress {
            border-right: none;
        }
        button {
            width: 23%;
            margin: 30px 0;
        }

        .formTop {
            display: flex;
            flex-direction: column;
        }
    }
}
}

 // homepage media queries - 780px

@media (max-width: 780px) {
.indexPage {
        // header section
        .cartCount {
            right: 9.5%;
            top: 4.75%;
        }

        .circleLogoImage img {
            width: 90%;
        }

        .circleLogo {
            position: absolute;
            bottom: -30%;
            right: 68%;
        }
        // services section

        .servicesOne, 
        .servicesTwo {
            width: calc(49% - 10px);        
        }
        
        .blogPreview {
            padding: 50px 45px;
        }

        .teamContent {
            padding: 10px 0 0 25px;       
        }

        .portfolioContent {
            padding: 0px 70px;
        }

        .portfolioContent a {
            padding: 5px;
            font-size: 0.9rem;
        }
        
        .servicesOffered {
            background-position: right;
        }

        .servicesList {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        
    }
}






// blog page media queries - 780px
@media (max-width: 780px) {
    .blogPage {

        .cartCount {
            right: 9.5%;
            top: 5%;
        }

        .blogInfoOne h1 {
            font-size: 3rem;
        }

        .relatedImagesGallery {
            flex-direction: inherit;
        }

        .relatedImagesGallery img {
            max-width: 95%;
        }

        .dialogbox .commentBody {
            width: 580px;
        }

        
        .formTop {
            display: flex;
            flex-direction: column;
        }
        
        button {
            width: 18%;
            margin: 30px 0;
        }

    }
}





// contact page media queries - 780px 

@media (max-width: 780px) {
    .contactPage {

        .contactHeaderBorder h1 {
        font-size: 2.5rem;
        position: absolute;
        bottom: 65px;
        }
        .cartCount {
            right: 7%;
            top: 50.5%;
        }

        .contactOptions {
            width: 60%;
            
        }
        button {
            width: 23%;
            margin: 30px 0;
        }

        .formTop {
            display: flex;
            flex-direction: column;
        }
    }
}



 // homepage media queries - 600px

@media (max-width: 600px) {
.indexPage {
        // header section
        i.fa-bars{
            visibility: visible;
            position: absolute;
            top: 0;
            right: 0;
            color: #333333;
            font-size: 3rem;
        }

        h1 {
            visibility: visible;
        }

        nav li {
            display: none;
        }

        .cartCount {
            display: none;
        }

        .circleLogoImage img {
            width: 95%;
        }

        .circleLogo {
            position: absolute;
            bottom: -30%;
            right: 68%;
        }
        // services section

        .servicesOne, 
        .servicesTwo {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;       
        }
        
        .teamPlayers {
            width: 100%;
            display: flex;
        }
        .teamPlayersOne img, 
        .teamPlayersTwo img {
            width: 100%;
            padding: 20px;
            margin: 0 auto;
        }


        .teamPlayersOne, 
        .teamPlayersTwo {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
            // flex-wrap: wrap;
            // width: 25%;
        }

        .teamContent {
            padding: 30px;
            margin-bottom: 10px;
        }

        .portfolioContent a {
            padding: 10px 15px;
            font-size: 1rem;
        }
        
        .portfolio {
            flex-direction: column;
        }

        .portfolioContent {
            width: 100%;
            padding: 40px;
        }

        .portfolioImage {
            width: 80%;
            padding: 40px 30px;
            margin: auto;
        }

        .footerContainer {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
            width: 35%;
        }

        .socialIcons li {
            display: inline-block;
        }
        .contactInfoContainer {
            display: flex;
            justify-content: flex-start;
        }

        .contactUs, 
        .blogPostsHeader,
        .subscribeHeader {
            padding: 15px 0;
        }
        

    }
}






// blog page media queries - 600px
@media (max-width: 600px) {
    .blogPage {

        // header section
        i.fa-bars{
            visibility: visible;
            position: absolute;
            top: 0;
            right: 0;
            color: #333333;
            font-size: 3rem;
        }


        h1 {
            visibility: visible;
        }

        

        nav li {
            display: none;
        }

        .cartCount {
            display: none;
        }

        .blogInfoOne h1 {
            font-size: 2.6rem;
        }

        .dialogbox .commentBody {
            width: 425px;
            height: 110px;
        }

        button {
            width: 35%;
            margin: 30px 0;
        }
        .footerContainer {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
            width: 35%;
        }

        .socialIcons li {
            display: inline-block;
        }
        .contactInfoContainer {
            display: flex;
            justify-content: flex-start;
        }

        .contactUs, 
        .blogPostsHeader,
        .subscribeHeader {
            padding: 15px 0;
        }
        

    } 
}





// contact page media queries - 600px 

@media (max-width: 600px) {
    .contactPage {

        // header section
        i.fa-bars{
            visibility: visible;
            position: absolute;
            top: 0;
            right: 0;
            color: #333333;
            font-size: 3rem;
        }

        h1 {
            visibility: visible;
        }

        nav li {
            display: none;
        }

        .cartCount {
            display: none;
        }

        .contactHeaderBorder h1 {
            bottom: 73px;
            left: -22px;
        }

        .contactOptions {
            flex-direction: column;
        }

        button {
            width: 30%;
        }

        .footerContainer {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
            width: 35%;
        }

        .socialIcons li {
            display: inline-block;
        }
        .contactInfoContainer {
            display: flex;
            justify-content: flex-start;
        }

        .contactUs, 
        .blogPostsHeader,
        .subscribeHeader {
            padding: 15px 0;
        }
        

    
    }
}

// homepage media queries - 560px

@media (max-width: 560px) {
.indexPage {
        // header section

        .textContainer {
            font-size: 1rem;
        }

        .servicesList {
            justify-content: space-evenly;
        }

        
}






// blog page media queries - 560px
@media (max-width: 560px) {
    .blogPage {

        

        

        .blogInfoOne h1 {
            font-size: 2rem;
        }

        .dialogbox .commentBody {
             width: 320px;
            height: 120px;
}
        }

        button {
            width: 35%;
            margin: 30px 0;
        }
        
        

    } 
}





// contact page media queries - 560px 

@media (max-width: 560px) {
    .contactPage {


        .contactHeaderBorder h1 {
            bottom: 73px;
            left: -22px;
        }

        button {
            width: 30%;
        }

        .contactOptions {
            flex-direction: column;
        }
    }
}


// homepage media queries - 440px

@media (max-width: 440px) {
.indexPage {
        // header section

        .circleLogoImage img {
            width: 100%;
        }

        .circleLogo {
            bottom: -25%;
            right: 65%;
        }

        .textContainer .fas,
        .textContainer .far  {
            width: 35px;
            height: 35px;
            border: 1px solid #303030;
            border-radius: 50%;
        }

        .servicesList div h3 {
            font-size: 1.2rem;
            display: flex;
            justify-content: flex-start;
            // padding: 10px;
        }

        .textContainer div p{
            font-size: 1rem;
            // justify-content: flex-start;
            // padding: 5px;
        }

        .teamPlayers h2 {
            padding: 40px;
        }

        .contactUs, 
        .blogPostsHeader,
        .subscribeHeader {
            font-size: 1.65rem;
        }   
}






// blog page media queries - 440px
@media (max-width: 440px) {
    .blogPage {

        

        

        .blogInfoOne h1 {
            font-size: 2rem;
        }

        .blogHeaderInfoTwo {
            flex-direction: column;
        }

        .relatedImagesGallery {
            padding: 20px 40px;
            flex-direction: column;
            margin-left: 10px;
        }
        .dialogbox .commentBody {
             width: 275px;
            height: 130px;
}
        }

        button {
            width: 50%;
            margin: 30px 0;
        }
        
        .contactUs, 
        .blogPostsHeader,
        .subscribeHeader {
            font-size: 1.65rem;
        }
    } 
}





// contact page media queries - 440px 

@media (max-width: 440px) {
    .contactPage {


        .contactHeaderBorder h1 {
            bottom: 73px;
            left: -22px;
        }

        button {
            width: 30%;
        }
    }
}


// homepage media queries - 340px

@media (max-width: 340px) {
.indexPage {

        .servicesContainer {
            flex-direction: column;
            align-items: center;
        }

        .servicesOffered {
            min-height: 1400px;
        }
        

        .teamPlayers h2 {
            padding: 20px;
            font-size: 2rem;
        }
}






// blog page media queries - 340px
@media (max-width: 340px) {
    .blogPage {

        .blogInfoOne h1 {
            font-size: 2.5rem;
        }

        .blogHeaderInfoTwo {
            flex-direction: column;
        }

        .relatedImagesGallery {
            padding: 20px 40px;
            flex-direction: column;
            margin-left: 10px;
        }

        
        .contactUs, 
        .blogPostsHeader,
        .subscribeHeader {
            font-size: 1.65rem;
        }

    } 
}





// contact page media queries - 340px 

@media (max-width: 340px) {
    .contactPage {

        .commentForm {
            display: flex;
            justify-content: flex-start;
        }
        .contactHeaderBorder h1 {
            bottom: 73px;
            left: -22px;
        }

        button {
            width: 30%;
        }
    }
}

}