/* services info styles */
.companyInfo {
    background-color: #C3DAB7;
    // display: flex;
    padding: 130px 40px 60px 40px;
    min-height:650px;
}

.circleLogoImage {
    position: relative;
    display: flex;
    justify-content: center;
} 

.circleLogoImage img {
    width: 50%;
}
.circleLogo {
    display: flex;
    position: absolute;
    bottom: -25%;    
    right: 60%;
    justify-content: center;
}

.circleLogo img {
    width: 80%;
}
.servicesContainer {
    display: flex;
    justify-content: center;
}

.servicesOne,
.servicesTwo {
    width: calc(40% - 50px);
    text-align: center;
    padding-top: 50px;
}