/* services info styles */
.companyInfo {
    background-color: #C3DAB7;
    display: flex;
    padding: 130px 40px 60px 40px;

}

.circleLogoImage {
    position: relative;
    display: flex;
    justify-content: center;
    border: 1px solid blue;
} 

.circleLogoImage img {
    width: 40%;
    border: 1px solid red;
}
.circleLogo {
    display: flex;
    position: absolute;
    bottom: -25%;    
    right: 57%;
    justify-content: center;
    border: 1px solid orange;
}

.circleLogo img {
    width: 80%;
}
.servicesContainer {
    display: flex;
    border: 1px solid rebeccapurple;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
}

.servicesOne,
.servicesTwo {
    /* display: flex; */
    width: calc(40% - 50px);
    text-align: center;
    /* padding: 40px 80px; */
    border: 1px solid greenyellow;
    padding-top: 50px;
}