/* services offered styles */

.servicesOffered {
    background: url(../../creative-assets/home-4.jpeg) 50% no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
    background-position: center;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.blankBox {
    width: 50%;
}

.servicesList {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.servicesOfferedContainer {
    max-width: 500px;
}

.textContainer{
    padding: 10px;
}
.textContainer .fas,
.textContainer .far  {
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border: 2px solid #303030;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesList div h3 {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.textContainer div p{
    font-size: 1rem;
    justify-content: flex-start;
    padding: 5px;
}


.textContainer {
    display: flex;
    justify-content: flex-end;
}

