$background-image-1: url(../../creative-assets/home-1.jpeg);
$background-image-2: url(../../creative-assets/blog-1.jpeg);
$background-image-3: url(../../creative-assets/contact-1.jpeg);
$bg-height-1:100vh;
$bg-height-2:90vh;
$bg-height-3:185px;