a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

/* fonts */
/* 

    font-family: 'Montserrat', sans-serif;

    font-family: 'Open Sans', sans-serif;
 */
/* blog font color #303030 */
body {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #1F2022;
  width: 100%;
  min-width: 320px;
  max-width: 1450px;
  margin: 0 auto;
  letter-spacing: 0.3px;
  color: #303030;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2.75rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 50%;
          flex: 2 0 50%;
}

h2 {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.8px;
  line-height: 24px;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  line-height: 24px;
  font-weight: 400;
}

p {
  font-size: 1rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.25rem;
  letter-spacing: 0.3px;
  -webkit-transition: ease 1s;
  transition: ease 1s;
  outline: 0;
  text-transform: uppercase;
  color: #333333;
}

/* header styles */
header {
  background: url(../../creative-assets/home-1.jpeg) 50% no-repeat;
  background-size: cover;
  height: 100vh;
  /* padding: 30px 0; */
  background-position: center;
  display: block;
  position: relative;
}

nav .fas {
  color: #333333;
  font-size: 2rem;
  /* padding: 30px; */
}

.hamburger {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.5rem;
  visibility: hidden;
}

/* nav styles */
.creativeHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.topNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
}

.leftOfLogo,
.rightOfLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25%;
}

.fa-shopping-bag {
  position: relative;
}

.cartCount {
  position: absolute;
  background-color: #C3DAB7;
  border-radius: 9px;
  width: 1.6rem;
  height: 1.6rem;
  right: 12.5%;
  top: 3.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leftOfLogo a:hover,
.leftOfLogo a:focus,
.rightOfLogo a:hover,
.rightOfLogo a:focus {
  -webkit-transition: ease 1s;
  transition: ease 1s;
  color: #333333;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

/* vertical lines needed */
/* .verticalLine {
    width: 50%;
    border-right: 10px solid #333333;
} */
/* div width 50% border right */
/* services info styles */
.companyInfo {
  background-color: #C3DAB7;
  padding: 130px 40px 60px 40px;
  min-height: 650px;
}

.circleLogoImage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.circleLogoImage img {
  width: 50%;
}

.circleLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -25%;
  right: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.circleLogo img {
  width: 80%;
}

.servicesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servicesOne,
.servicesTwo {
  width: calc(40% - 50px);
  text-align: center;
  padding-top: 50px;
}

/* blog section styles */
.blogPreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 50px 50px;
  position: relative;
}

.fa-chevron-left {
  position: absolute;
  left: 20%;
  top: 50%;
  font-size: 2rem;
}

.fa-chevron-right {
  position: absolute;
  right: 20%;
  top: 50%;
  font-size: 2rem;
}

.blogPreviewImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogPreviewImage img {
  border-radius: 50%;
  width: 70%;
  margin: 0 auto;
}

/* .blogPreviewContent {
    display: flex;
    justify-content: center;
} */
.blogPreviewContent p {
  /* display: flex; */
  /* width: 50%; */
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding-top: 30px;
  font-style: italic;
  color: #30303080;
}

/* services offered styles */
.servicesOffered {
  background: url(../../creative-assets/home-4.jpeg) 50% no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blankBox {
  width: 50%;
}

.servicesList {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.servicesOfferedContainer {
  max-width: 500px;
}

.textContainer {
  padding: 10px;
}

.textContainer .fas,
.textContainer .far {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border: 2px solid #303030;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicesList div h3 {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px;
}

.textContainer div p {
  font-size: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5px;
}

.textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* team players section */
.teamPlayers {
  margin: 0 auto;
  padding-bottom: 50px;
}

.teamPlayersOne,
.teamPlayersTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 20px;
  max-width: 800px;
  width: 80%;
}

.teamContent {
  background-color: #F6F6F6;
  -ms-flex-preferred-size: 53%;
      flex-basis: 53%;
  max-width: 540px;
  margin-right: 20px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 60px 0 0 40px;
}

.teamPlayers h2 {
  padding: 80px;
}

.teamPlayersImages {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 270px;
  margin-right: 20px;
}

.teamPlayersOne .teamPlayersImages:last-of-type {
  margin-right: 0;
}

.careerLink {
  background-color: white;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* portfolio styles */
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolioContent {
  width: 50%;
  background-color: #C3DAB7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 150px;
}

.portfolioContent h2 {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 2rem;
}

.portfolioContent p {
  padding-bottom: 20px;
}

.portfolioContent a {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.portfolioContent a:hover,
.portfolioContent a:focus {
  color: white;
  background-color: #303030;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

.portfolioImage {
  width: 50%;
}

/* footer styles */
footer {
  background-color: #303030;
  color: white;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*! justify-content: ; */
  padding: 110px 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /*! align-content: unsafe; */
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
}

.contactUs,
.blogPostsHeader,
.subscribeHeader {
  font-size: 2rem;
  text-transform: uppercase;
}

.contactUs,
.blogPosts,
.subscribe {
  /*! display: flex; */
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.blogPosts li {
  list-style-type: disc;
}

.logoBottom {
  text-transform: uppercase;
  font-size: 1.15rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 56px;
  border-top: 1px solid lightgrey;
  width: 100%;
  letter-spacing: 7px;
}

.socialIcons {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactInfo .fab {
  color: #ffffff;
  padding: 5px;
}

.footerContainer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*! flex-basis: 33$; */
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footerContainer > div > p {
  width: 100%;
}

.FooterForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer input[type=email] {
  border: transparent;
  text-decoration: none;
  padding: 5px 10px;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.1rem;
  width: 75%;
}

.fa-long-arrow-alt-right {
  background-color: #C3DAB7;
  font-size: 1rem;
  height: 30%;
  color: #303030;
  width: 15%;
  text-align: center;
  padding-top: 7px;
}

/* footer list style type - circle on the li's */
/* blog page styles */
.blogPage header {
  background: url(../../creative-assets/blog-1.jpeg) 50% no-repeat;
  background-size: cover;
  height: 90vh;
  min-height: 600px;
  /* padding: 30px 0; */
  background-position: center;
  display: block;
  position: relative;
}

.blogPage .blogHeaderInfo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogPage .blogInfoOne h1 {
  font-size: 5rem;
  padding-top: 100px;
}

.blogPage .blogInfoOne p {
  padding-top: 30px;
  color: #898A8E;
  font-size: 1.2rem;
}

.blogPage .blogInfoOne em {
  color: #333333;
  font-weight: 700;
}

.blogPage .blogHeaderInfoTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogPage .bloggerInfoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.blogPage .bloggerInfo {
  padding-left: 30px;
}

.blogPage .blogHeaderInfoTwo p {
  color: #8A8B8F;
}

.blogPage .bloggerImage {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blogPage .bloggerImage img {
  border-radius: 50%;
}

.blogPage .blogBorderBottom {
  border-bottom: 1px solid #dfe0e6;
}

.blogPage .blogContentContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blogPage .blogContent > p {
  padding: 20px 0;
  color: #88898d;
}

.blogPage .blogContent :nth-child(1) {
  font-weight: 700;
  font-size: 1.2rem;
  color: #333333;
}

.blogPage .shareBlogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

.blogPage .shareBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogPage .shareSocialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogPage .shareSocialIcons .fab {
  padding: 0px 15px 0 10px;
  font-size: 1.5rem;
}

.blogPage .relatedPosts h2 {
  border-bottom: 1px solid #dfe0e6;
  padding: 100px 0 40px 0;
  text-align: left;
}

.blogPage .relatedImagesGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0px;
}

.blogPage .relatedImagesGallery img {
  max-width: 100%;
}

.blogPage .relatedImages > p {
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 15px 0;
}

.blogPage .comment h2 {
  border-bottom: 1px solid #dfe0e6;
  padding: 40px 0 20px 0;
  text-align: left;
}

.blogPage .tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #dfe0e6;
}

.blogPage .tip-left {
  top: 1px;
  left: -20px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.blogPage .dialogbox .commentBody {
  position: relative;
  width: 1100px;
  height: 100px;
  margin: 0px 50px;
  background-color: #dfe0e6;
}

.blogPage .commentBody .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgba(25, 26, 32, 0.699);
}

.blogPage .commentCloud {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blogPage .message em {
  font-style: italic;
  color: forestgreen;
}

.blogPage .message :nth-child(1) {
  text-transform: uppercase;
}

.blogPage .message > p {
  padding: 5px 15px;
}

.blogPage .leaveComment h2 {
  border-bottom: 1px solid #dfe0e6;
  padding: 60px 0 20px 20px;
  text-align: left;
}

.blogPage .commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}

.blogPage .formTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogPage input[type=text],
.blogPage textarea {
  border: 0;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  padding-right: 170px;
}

.blogPage .formEmail input[type=email] {
  border: transparent;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  padding-right: 170px;
}

.blogPage textarea {
  resize: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  padding: 30px 0;
  width: 100%;
}

.blogPage button {
  border: none;
  background: transparent;
  border-bottom: 1px solid #333333;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin: 20px 0;
  width: 10%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.contactPage .creativeHeader {
  height: 275px;
}

.contactPage header {
  background: none 50% no-repeat;
  height: 275px;
  background-size: contain;
}

.contactPage .contactImageHeader {
  position: relative;
}

.contactPage .topNav {
  padding: 20px;
  position: absolute;
  width: 100%;
  top: 0;
}

.contactPage .contactImageStrip {
  background: url(../../creative-assets/contact-1.jpeg) 50% no-repeat;
  background-size: contain;
  height: 275px;
  display: block;
}

.contactPage .cartCount {
  right: 9%;
  top: 54.5%;
}

.contactPage .heroContact {
  position: relative;
}

.contactPage .contentBorderLine {
  border-top: 3px solid #333333;
  width: 2%;
  position: absolute;
  bottom: 150px;
  left: 20%;
}

.contactPage .contactHeaderBorder h1 {
  font-size: 4rem;
  text-align: left;
  padding: 10px 20%;
  line-height: 1;
  position: absolute;
  bottom: 30px;
  width: 24%;
}

.contactPage .contactContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactPage .contactDetails {
  margin-left: 10%;
  padding-bottom: 60px;
}

.contactPage .contactDetails p,
.contactPage .formSection p {
  color: #8a8a8a;
}

.contactPage .contactDetails h3,
.contactPage .formSection h3 {
  font-weight: 700;
  font-size: 1.25rem;
  padding: 20px 0;
}

.contactPage .contactOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.contactPage .formSection {
  margin-left: 10%;
  width: 80%;
}

.contactPage .formSection p {
  padding-bottom: 40px;
}

.contactPage .contactIcons {
  font-size: 35px;
}

.contactPage .contactIcons > i + p {
  text-transform: uppercase;
  font-weight: 700;
}

.contactPage .contactPhone,
.contactPage .contactAddress {
  border-right: 1px solid #e6e6e6;
  padding-right: 60px;
  padding-bottom: 60px;
}

.contactPage .formTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactPage input[type=text],
.contactPage textarea {
  border: 0;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  padding-right: 170px;
}

.contactPage .formEmail input[type=email] {
  border: transparent;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  padding-right: 170px;
}

.contactPage textarea {
  resize: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  padding: 30px 0;
  width: 100%;
}

.contactPage button {
  border: none;
  background: transparent;
  border-bottom: 1px solid #333333;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin: 20px 0;
  width: 13%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
}

@media (max-width: 1256px) {
  .indexPage .circleLogo img {
    width: 70%;
  }
}

@media (max-width: 1230px) {
  .indexPage .cartCount {
    right: 11.5%;
    top: 4.5%;
  }
  .indexPage .circleLogo img {
    width: 70%;
  }
  .indexPage .circleLogo {
    position: absolute;
    bottom: -30%;
    right: 60%;
  }
}

@media (max-width: 1230px) {
  .blogPage .relatedImagesGallery {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
  }
  .blogPage .relatedImagesGallery img {
    max-width: 80%;
  }
  .blogPage .dialogbox .commentBody {
    position: relative;
    width: 980px;
    height: 100px;
    margin: 0px 25px;
  }
  .blogPage .commentBody .message {
    min-height: 30px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: rgba(25, 26, 32, 0.699);
  }
  .blogPage button {
    width: 12%;
    margin: 30px 0;
  }
}

@media (max-width: 1230px) {
  .contactPage .cartCount {
    right: 8.5%;
    top: 53.5%;
  }
  .contactPage button {
    width: 15%;
    margin: 30px 0;
  }
}

@media (max-width: 1068px) {
  .indexPage .cartCount {
    right: 10.5%;
    top: 4.5%;
  }
  .indexPage .servicesOne,
  .indexPage .servicesTwo {
    width: calc(40% - 20px);
  }
}

@media (max-width: 1068px) {
  .blogPage .cartCount {
    right: 10.5%;
    top: 4.5%;
  }
  .blogPage .relatedImagesGallery {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
  }
  .blogPage .relatedImagesGallery img {
    max-width: 90%;
  }
  .blogPage .dialogbox .commentBody {
    width: 830px;
  }
  .blogPage .commentBody .message {
    min-height: 30px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: rgba(25, 26, 32, 0.699);
  }
  .blogPage button {
    width: 13%;
    margin: 30px 0;
  }
}

@media (max-width: 1068px) {
  .contactPage .cartCount {
    right: 7.75%;
    top: 50.5%;
  }
  .contactPage button {
    width: 15%;
    margin: 30px 0;
  }
}

@media (max-width: 930px) {
  .indexPage .cartCount {
    right: 10%;
    top: 4.5%;
  }
  .indexPage .servicesOne,
  .indexPage .servicesTwo {
    width: calc(40% - 10px);
  }
  .indexPage .blogPreview {
    padding: 50px 45px;
  }
  .indexPage .teamContent {
    padding: 30px 0 0 40px;
  }
  .indexPage .portfolioContent {
    padding: 0 100px;
  }
}

@media (max-width: 930px) {
  .blogPage .cartCount {
    right: 10%;
    top: 5%;
  }
  .blogPage .blogInfoOne h1 {
    font-size: 4rem;
  }
  .blogPage .relatedImagesGallery {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
  }
  .blogPage .relatedImagesGallery img {
    max-width: 90%;
  }
  .blogPage .dialogbox .commentBody {
    width: 730px;
  }
  .blogPage .formTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogPage button {
    width: 15%;
    margin: 30px 0;
  }
}

@media (max-width: 930px) {
  .contactPage .contactHeaderBorder h1 {
    font-size: 3rem;
    position: absolute;
    bottom: 45px;
  }
  .contactPage .cartCount {
    right: 7.75%;
    top: 50.5%;
  }
  .contactPage button {
    width: 15%;
    margin: 30px 0;
  }
  .contactPage .formTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 856px) {
  .indexPage .cartCount {
    right: 9.5%;
    top: 4.75%;
  }
  .indexPage .servicesOne,
  .indexPage .servicesTwo {
    width: calc(40% - 10px);
  }
  .indexPage .blogPreview {
    padding: 50px 45px;
  }
  .indexPage .teamContent {
    padding: 30px 0 0 40px;
  }
  .indexPage .portfolioContent {
    padding: 0 100px;
  }
  .indexPage .servicesOffered {
    background-position: right;
  }
  .indexPage .servicesList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 856px) {
  .blogPage .cartCount {
    right: 9.5%;
    top: 5%;
  }
  .blogPage .blogInfoOne h1 {
    font-size: 4rem;
  }
  .blogPage .relatedImagesGallery {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
  }
  .blogPage .relatedImagesGallery img {
    max-width: 95%;
  }
  .blogPage .dialogbox .commentBody {
    width: 630px;
  }
  .blogPage .formTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogPage button {
    width: 17%;
    margin: 30px 0;
  }
}

@media (max-width: 856px) {
  .contactPage .contactHeaderBorder h1 {
    font-size: 3rem;
    position: absolute;
    bottom: 45px;
  }
  .contactPage .cartCount {
    right: 7%;
    top: 50.5%;
  }
  .contactPage button {
    width: 15%;
    margin: 30px 0;
  }
  .contactPage .formTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 856px) and (max-width: 780px) {
  .indexPage .cartCount {
    right: 9.5%;
    top: 4.75%;
  }
  .indexPage .circleLogoImage img {
    width: 90%;
  }
  .indexPage .circleLogo {
    position: absolute;
    bottom: -30%;
    right: 68%;
  }
  .indexPage .servicesOne,
  .indexPage .servicesTwo {
    width: calc(49% - 10px);
  }
  .indexPage .blogPreview {
    padding: 50px 45px;
  }
  .indexPage .teamContent {
    padding: 10px 0 0 25px;
  }
  .indexPage .portfolioContent {
    padding: 0px 70px;
  }
  .indexPage .portfolioContent a {
    padding: 5px;
    font-size: 0.9rem;
  }
  .indexPage .servicesOffered {
    background-position: right;
  }
  .indexPage .servicesList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 856px) and (max-width: 780px) {
  .blogPage .cartCount {
    right: 9.5%;
    top: 5%;
  }
  .blogPage .blogInfoOne h1 {
    font-size: 3rem;
  }
  .blogPage .relatedImagesGallery {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
  }
  .blogPage .relatedImagesGallery img {
    max-width: 95%;
  }
  .blogPage .dialogbox .commentBody {
    width: 580px;
  }
  .blogPage .formTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogPage button {
    width: 18%;
    margin: 30px 0;
  }
}

@media (max-width: 856px) and (max-width: 780px) {
  .contactPage .contactHeaderBorder h1 {
    font-size: 2.5rem;
    position: absolute;
    bottom: 65px;
  }
  .contactPage .cartCount {
    right: 7%;
    top: 50.5%;
  }
  .contactPage .contactOptions {
    width: 90%;
  }
  .contactPage button {
    width: 23%;
    margin: 30px 0;
  }
  .contactPage .formTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 780px) {
  .indexPage .cartCount {
    right: 9.5%;
    top: 4.75%;
  }
  .indexPage .circleLogoImage img {
    width: 90%;
  }
  .indexPage .circleLogo {
    position: absolute;
    bottom: -30%;
    right: 68%;
  }
  .indexPage .servicesOne,
  .indexPage .servicesTwo {
    width: calc(49% - 10px);
  }
  .indexPage .blogPreview {
    padding: 50px 45px;
  }
  .indexPage .teamContent {
    padding: 10px 0 0 25px;
  }
  .indexPage .portfolioContent {
    padding: 0px 70px;
  }
  .indexPage .portfolioContent a {
    padding: 5px;
    font-size: 0.9rem;
  }
  .indexPage .servicesOffered {
    background-position: right;
  }
  .indexPage .servicesList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 780px) {
  .blogPage .cartCount {
    right: 9.5%;
    top: 5%;
  }
  .blogPage .blogInfoOne h1 {
    font-size: 3rem;
  }
  .blogPage .relatedImagesGallery {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
  }
  .blogPage .relatedImagesGallery img {
    max-width: 95%;
  }
  .blogPage .dialogbox .commentBody {
    width: 580px;
  }
  .blogPage .formTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogPage button {
    width: 18%;
    margin: 30px 0;
  }
}

@media (max-width: 780px) {
  .contactPage .contactHeaderBorder h1 {
    font-size: 2.5rem;
    position: absolute;
    bottom: 65px;
  }
  .contactPage .cartCount {
    right: 7%;
    top: 50.5%;
  }
  .contactPage .contactOptions {
    width: 90%;
  }
  .contactPage button {
    width: 23%;
    margin: 30px 0;
  }
  .contactPage .formTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .indexPage i.fa-bars {
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    color: #333333;
    font-size: 3rem;
  }
  .indexPage h1 {
    visibility: visible;
  }
  .indexPage nav li {
    display: none;
  }
  .indexPage .cartCount {
    display: none;
  }
  .indexPage .circleLogoImage img {
    width: 95%;
  }
  .indexPage .circleLogo {
    position: absolute;
    bottom: -30%;
    right: 68%;
  }
  .indexPage .servicesOne,
  .indexPage .servicesTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .indexPage .teamPlayers {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .indexPage .teamPlayersOne img,
  .indexPage .teamPlayersTwo img {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }
  .indexPage .teamPlayersOne,
  .indexPage .teamPlayersTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .indexPage .teamContent {
    padding: 30px;
    margin-bottom: 10px;
  }
  .indexPage .portfolioContent a {
    padding: 10px 15px;
    font-size: 1rem;
  }
  .indexPage .portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .indexPage .portfolioContent {
    width: 100%;
    padding: 40px;
  }
  .indexPage .portfolioImage {
    width: 80%;
    padding: 40px 30px;
    margin: auto;
  }
  .indexPage .footerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0;
    width: 35%;
  }
  .indexPage .socialIcons li {
    display: inline-block;
  }
  .indexPage .contactInfoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .indexPage .contactUs,
  .indexPage .blogPostsHeader,
  .indexPage .subscribeHeader {
    padding: 15px 0;
  }
}

@media (max-width: 600px) {
  .blogPage i.fa-bars {
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    color: #333333;
    font-size: 3rem;
  }
  .blogPage h1 {
    visibility: visible;
  }
  .blogPage nav li {
    display: none;
  }
  .blogPage .cartCount {
    display: none;
  }
  .blogPage .circleLogoImage img {
    width: 95%;
  }
  .blogPage .circleLogo {
    position: absolute;
    bottom: -30%;
    right: 68%;
  }
  .blogPage .servicesOne,
  .blogPage .servicesTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .blogPage .teamPlayers {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blogPage .teamPlayersOne img,
  .blogPage .teamPlayersTwo img {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }
  .blogPage .teamPlayersOne,
  .blogPage .teamPlayersTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogPage .teamContent {
    padding: 30px;
    margin-bottom: 10px;
  }
  .blogPage .portfolioContent a {
    padding: 10px 15px;
    font-size: 1rem;
  }
  .blogPage .portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogPage .portfolioContent {
    width: 100%;
    padding: 40px;
  }
  .blogPage .portfolioImage {
    width: 80%;
    padding: 40px 30px;
    margin: auto;
  }
  .blogPage .footerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0;
    width: 35%;
  }
  .blogPage .socialIcons li {
    display: inline-block;
  }
  .blogPage .contactInfoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .blogPage .contactUs,
  .blogPage .blogPostsHeader,
  .blogPage .subscribeHeader {
    padding: 15px 0;
  }
}

@media (max-width: 600px) {
  .contactPage i.fa-bars {
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    color: #333333;
    font-size: 3rem;
  }
  .contactPage h1 {
    visibility: visible;
  }
  .contactPage nav li {
    display: none;
  }
  .contactPage .cartCount {
    display: none;
  }
  .contactPage .circleLogoImage img {
    width: 95%;
  }
  .contactPage .circleLogo {
    position: absolute;
    bottom: -30%;
    right: 68%;
  }
  .contactPage .servicesOne,
  .contactPage .servicesTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .contactPage .teamPlayers {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contactPage .teamPlayersOne img,
  .contactPage .teamPlayersTwo img {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }
  .contactPage .teamPlayersOne,
  .contactPage .teamPlayersTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactPage .teamContent {
    padding: 30px;
    margin-bottom: 10px;
  }
  .contactPage .portfolioContent a {
    padding: 10px 15px;
    font-size: 1rem;
  }
  .contactPage .portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactPage .portfolioContent {
    width: 100%;
    padding: 40px;
  }
  .contactPage .portfolioImage {
    width: 80%;
    padding: 40px 30px;
    margin: auto;
  }
  .contactPage .footerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0;
    width: 35%;
  }
  .contactPage .socialIcons li {
    display: inline-block;
  }
  .contactPage .contactInfoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contactPage .contactUs,
  .contactPage .blogPostsHeader,
  .contactPage .subscribeHeader {
    padding: 15px 0;
  }
}
/*# sourceMappingURL=style.css.map */